/* 
    Document   : css
    Created on : 13-ago-2010, 16:13:24
    Author     : Nerian
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}
body {
    margin-top: 1.0em;
    background-color: #50f2fa;
    font-family: "Helvetica,Arial,FreeSans";
    color: #000000;
}
#container {
    margin: 0 auto;
    width: 700px;
}

h1 { font-size: 3.8em; color: #af0d05; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #af0d05; }
h3 { text-align: center; color: #af0d05; }
a { color: #af0d05; }
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; font-style: italic;
}
